@media (min-width: 992px) {
	.nav {
		.forest {
			font-size: 2.9rem;
		}

		&__item {
			font-size: 2.5rem;
		}
	}

	.header {
		&__text {
			font-size: 4.5rem;
		}
		&__heading {
			font-size: 6.1rem;
		}
	}

	.section {
		.adventure {
			&__box {
				background-image: url('../img/girl-big.jpg');
				padding: 7em 6em;
			}
		}
	}
}

@media (min-width: 1200px) {
}
