@media (min-width: 768px) {
	.nav {
		&__item {
			display: flex;
			position: relative;
			margin: 0.5em;
			padding: 0.5em;
			font-size: 2.3rem;
			color: $dark;
			text-decoration: none;
			transition: transform 0.3s;

			&:hover {
				background-color: $dark;
				color: $white;
			}
		}

		.forest {
			display: flex;
			justify-content: flex-start;
			flex: 1;
			font-size: 3.5rem;
			color: #000000;
		}
	}
}
