@media (min-width: 768px) {
	.nav {
		&-mobile {
			display: none;
		}

		&-desktop {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
			background-color: $white;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

			&__item {
				position: fixed;
				margin: 0.5em;
				padding: 0.5em;
				font-size: 1.8rem;
				color: $dark;
				-decoration: none;
				transition: transform 0.3s;

				&:hover {
					background-color: $dark;
					color: $white;
				}
			}

			.forest {
				display: flex;
				justify-content: flex-start;
				flex: 1;
				font-size: 2.7rem;
				color: #000000;

				span {
					display: flex;
					margin-right: 0.3em;
				}
			}
		}
	}

	.header {
		background-image: url('/img/jungle-big.jpg');

		&__text {
			font-size: 3.2rem;
		}
	}

	.offers {
		&__card {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			gap: 25px;

			&-items {
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.wrapper {
		.hamburger {
			display: flex;
			position: absolute;
			top: 1em;
			right: 1em;
			z-index: 500;

			&-inner,
			&-inner::after,
			&-inner::before {
				z-index: 500;
			}
		}
	}
}
