@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6em;
	font-family: 'Raleway', sans-serif;
	color: $white;
	background-color: $white;
}

.nav {
	&-desktop {
		display: none;
	}

	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transform: translateX(-102%);
		background-color: $white;
		z-index: 10;
		transition: transform 0.2s ease-in-out;

		&--active {
			transform: translateX(0);
			transition-delay: 0.2s;
		}
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.1rem;
		text-decoration: none;
		color: $dark;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: #1fea00;
			background-color: black;
		}
	}
}

.header {
	position: relative;
	background-image: url('/img/jungle-small.jpg');
	background-size: cover;
	background-position: center;
	object-fit: cover;
	color: #fff;
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	padding: 2em;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.header__heading {
	position: relative;
	font-weight: 500;
	font-size: 4.2rem;
	z-index: 2;
}

.header__text {
	position: relative;
	font-size: 2.5rem;
	z-index: 2;
	margin-bottom: 0.2em;
	text-align: start;
}

.section {
	color: black;
	.about {
		&__box {
			display: flex;

			&-img {
				flex: 1;
				padding: 0 4em;

				.about__img {
					width: 400px;
					height: 270px;
					object-fit: cover;
					transition: transform 0.3s;

					&:hover {
						transform: scale(1.05);
					}
				}
			}
			&-text {
				padding: 1.5em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: left;
			
			}
		}
	}
}

@import './small';
@import './medium';
@import './large';
