@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6em;
	font-family: 'Raleway', sans-serif;
	color: $white;
	background-color: $white;
}

.nav {
	&-desktop {
		display: none;
	}

	&-mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transform: translateX(-102%);
		background-color: $white;
		z-index: 10;
		transition: transform 0.2s ease-in-out;

		&--active {
			transform: translateX(0);
			transition-delay: 0.2s;
		}
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.1rem;
		text-decoration: none;
		color: $dark;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: #1fea00;
			background-color: black;
		}
	}
}

.header {
	position: relative;
	background-image: url('/img/jungle-small.jpg');
	background-size: cover;
	background-position: center;
	object-fit: cover;
	color: #fff;
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	padding: 2em;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.header__heading {
	position: relative;
	font-weight: 500;
	font-size: 4.2rem;
	z-index: 2;
}

.header__text {
	position: relative;
	font-size: 2.5rem;
	z-index: 2;
	margin-bottom: 0.2em;
	text-align: start;
}

.section {
	color: black;
	.about {
		font-weight: 300;
		&-heading {
			font-size: 3rem;
			font-weight: 400;
			margin-bottom: 2em;
			text-transform: uppercase;
		}
		&__box {
			display: flex;
			flex-direction: column;
		}

		&__img {
			width: 100%;
		}

		&__title {
			font-size: 2.2rem;
			margin-bottom: 1em;
		}

		&__text {
			font-size: 1.6rem;
			font-weight: 600;
		}
	}

	.adventure {
		&__box {
			position: relative;
			background-image: url('../img/girl-small.jpg');
			background-size: cover;
			background-position: center;
			object-fit: cover;
			padding: 2em 0.5em;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 1;
			}
		}

		&__title {
			position: relative;
			z-index: 2;
			color: $white;
			font-size: 3.5rem;
			font-weight: 300;
			border: solid;
			padding: 0.7em 2em;
		}
	}

	.offer {
		&__cards {
			display: flex;
			justify-content: center;
			flex-direction: column;
			position: relative;
			margin: 1em 0;
			height: 450px;

			transition: transform 0.3s ease;

			&:hover {
				transform: scale(1.03);
			}
		}

		&__card {
			display: flex;
			justify-content: center;
			&--first {
				padding: 2em;
				height: 100%;
				border-radius: 8px;
				background-color: rebeccapurple;
			}

			&--second {
				padding: 2em;
				height: 100%;
				border-radius: 8px;
				background-color: rgb(99, 96, 65);
			}

			&--third {
				padding: 2em;
				height: 100%;
				border-radius: 8px;
				background-color: rgb(62, 103, 78);
			}
			&-title {
				text-transform: uppercase;
				font-size: 2.5rem;
				font-weight: 400;
				margin-bottom: 0.9em;
			}

			&-price {
				font-size: 3rem;
				margin-top: 0.2em;
			}
		}

		&-heading {
			text-transform: uppercase;
			font-size: 3.5rem;
			font-weight: 400;
			margin-bottom: 0.9em;
		}

		&__text {
			font-weight: 400;
			font-size: 2.3rem;
			margin-bottom: 2em;
			text-align: center;
		}

		&__choose {
			padding: 0.7em 4.2em;
			font-size: 1.5rem;
			background-color: white;
			border-radius: 5px;
			border: solid #e0e0e0;
			box-shadow: 3px 3px 7px 0px #e0e0e0;
			margin-top: 1.2em;
			font-weight: 300;
			cursor: pointer;
		}

		.green {
			background-color: #2bde71;
		}
	}

	.options {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.option {
		font-size: 1.3rem;
		line-height: 1.3rem;
		text-align: center;
		margin-top: 0.5em;
	}

	img {
		display: flex;
		margin-right: 0.5em;
	}
}

@import './small';
@import './medium';
@import './large';
